<div class="burger">
  <div class="container">
    <nav class="burger-navigation">
      <a class="burger-logo" href="/">
        <svg>
          <use href=""></use>
        </svg>
      </a>

      <ul class="burger-list">
        <li class="burger-item">
          <a class="primary-link" href="#about">About us</a>
        </li>
        <li class="burger-item">
          <a class="primary-link" href="#benefits">Benefits</a>
        </li>
        <li class="burger-item">
          <a class="primary-link" href="#gallery">Gallery</a>
        </li>
        <li class="burger-item">
          <a class="primary-link" href="#testimonials">Testimonials</a>
        </li>
        <li class="burger-item">
          <a class="primary-link" href="#contacts">Contacts</a>
        </li>
      </ul>

      <a href="#contacts" class="primary-btn burger-cta-btn">Order Now</a>
    </nav>
  </div>
  <button type="button" class="burger-close-btn"></button>
</div>
