<div class="burger">
  <div class="container">
    <nav class="burger-navigation">
      <div class="burger-nav-wrapp">
        <a
          class="burger-logo"
          href="/src/index.html"
          aria-label="Go to homepage"
        >
          <svg width="160" height="68">
            <use href="/img/sprite.svg#icon-logo"></use>
          </svg>
        </a>
        <button type="button" class="burger-close-btn" aria-label="Close menu">
          <svg width="12" height="12">
            <use href="/img/sprite.svg#icon-close"></use>
          </svg>
        </button>
      </div>

      <ul class="burger-list">
        <li class="burger-item">
          <a
            class="primary-link burger-link"
            href="#about"
            aria-label="Go to about us section"
            >About us</a
          >
        </li>
        <li class="burger-item">
          <a
            class="primary-link burger-link"
            href="#benefits"
            aria-label="Go to benefits section"
            >Benefits</a
          >
        </li>
        <li class="burger-item">
          <a
            class="primary-link burger-link"
            href="#gallery"
            aria-label="Go to gallery section"
            >Gallery</a
          >
        </li>
        <li class="burger-item">
          <a
            class="primary-link burger-link"
            href="#testimonials"
            aria-label="Go to testimonials section"
            >Testimonials</a
          >
        </li>
        <li class="burger-item">
          <a
            class="primary-link burger-link"
            href="#contacts"
            aria-label="Go to contacts section"
            >Contacts</a
          >
        </li>
      </ul>

      <a href="#contacts" class="primary-btn burger-cta-btn" aria-label="Order"
        >Order Now</a
      >
    </nav>
  </div>
</div>
