<header class="header">
  <div class="container">
    <div class="header-wrapper">
      <nav class="main-navigation">
        <a class="header-logo" href="./index.html" aria-label="Go to homepage">
          <svg class="logo" viewBox="0 0 160 68">
            <use href="/img/sprite.svg#icon-logo"></use>
          </svg>
        </a>
        <ul class="header-list">
          <li class="header-item">
            <a
              class="primary-link header-link"
              href="#about"
              aria-label="Go to about section"
              >About us</a
            >
          </li>
          <li class="header-item">
            <a
              class="primary-link header-link"
              href="#benefits"
              aria-label="Go to benefits section"
              >Benefits</a
            >
          </li>
          <li class="header-item">
            <a
              class="primary-link header-link"
              href="#gallery"
              aria-label="Go to gallery section"
              >Gallery</a
            >
          </li>
          <li class="header-item">
            <a
              class="primary-link header-link"
              href="#testimonials"
              aria-label="Go to testimonials section"
              >Testimonials</a
            >
          </li>
          <li class="header-item">
            <a
              class="primary-link header-link"
              href="#contacts"
              aria-label="Go to contacts section"
              >Contacts</a
            >
          </li>
        </ul>
        <a
          href="#contacts"
          class="primary-btn header-cta-btn"
          aria-label="Order"
          >Order Now</a
        >
      </nav>
      <button type="button" class="burger-btn" aria-label="Open menu">
        <svg width="16" height="12">
          <use href="/img/sprite.svg#icon-menu"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
