<header class="header">
  <div class="container">
    <div class="header-wrapper">
      <nav class="main-navigation">
        <a class="header-logo" href="/src/index.html">
          <img class="logo-image" src="/img/webp/header-logo.webp" alt="logo" />
        </a>
        <ul class="header-list">
          <li class="header-item">
            <a class="primary-link" href="#about">About us</a>
          </li>
          <li class="header-item">
            <a class="primary-link" href="#benefits">Benefits</a>
          </li>
          <li class="header-item">
            <a class="primary-link" href="#gallery">Gallery</a>
          </li>
          <li class="header-item">
            <a class="primary-link" href="#testimonials">Testimonials</a>
          </li>
          <li class="header-item">
            <a class="primary-link" href="#contacts">Contacts</a>
          </li>
        </ul>
        <a href="#contacts" class="primary-btn header-cta-btn">Order Now</a>
      </nav>
      <button type="button" class="burger-btn">
        <svg width="16" height="12">
          <use href="/img/sprite.svg#..."></use>
        </svg>
      </button>
    </div>
  </div>
</header>
