<section class="testimonials">
  <div class="container testimonials-container">
    <div class="title-container">
      <h2 class="testimonials-title">Customer testimonials</h2>
      <p class="testimonials-main-text">
        Absolutely love my new earrings! They are stunning.
      </p>
    </div>

    <ul class="testimonials-list">
      <li class="testimonials-item">
        <div class="img-box">
          <img
            class="testimonials-image"
            srcset="../img/woman.webp 1x, ../img/woman@2x.webp 2x"
            src="../img/woman.webp"
            alt="Smiling women"
          />
        </div>
        <div class="img-box">
          <img
            class="testimonials-image"
            srcset="../img/man.webp 1x, ../img/man@2x.webp 2x"
            src="../img/man.webp"
            alt="Smiling man"
          />
        </div>

        <div class="testimonials-wrapper">
          <ul class="testimonials-svg-list">
            <li class="testimonials-svg-item">
              <svg class="testimonials-svg">
                <use href="../img/sprite.svg#icon-star"></use>
              </svg>
            </li>
            <li class="testimonials-svg-item">
              <svg class="testimonials-svg">
                <use href="../img/sprite.svg#icon-star"></use>
              </svg>
            </li>
            <li class="testimonials-svg-item">
              <svg class="testimonials-svg">
                <use href="../img/sprite.svg#icon-star"></use>
              </svg>
            </li>
            <li class="testimonials-svg-item">
              <svg class="testimonials-svg">
                <use href="../img/sprite.svg#icon-star"></use>
              </svg>
            </li>
            <li class="testimonials-svg-item">
              <svg class="testimonials-svg">
                <use href="../img/sprite.svg#icon-star"></use>
              </svg>
            </li>
          </ul>
          <p class="testimonials-text">
            "Each piece tells a story, and I love mine!"
          </p>
          <p class="testimonials-author">Thomas Mans</p>
        </div>
      </li>
      <li class="testimonials-item reverse">
        <div class="img-box">
          <img
            class="testimonials-image"
            srcset="../img/hands.webp 1x, ../img/hands@2x.webp 2x"
            src="../img/hands.webp"
            alt="our handmade ring"
          />
        </div>
        <div class="img-box second">
          <img
            class="testimonials-image"
            srcset="../img/coffee.webp 1x, ../img/coffee@2x.webp 2x"
            src="../img/coffee.webp"
            alt="Bracelet made by us"
          />
        </div>
        <div class="testimonials-wrapper">
          <ul class="testimonials-svg-list">
            <li class="testimonials-svg-item">
              <svg class="testimonials-svg">
                <use href="../img/sprite.svg#icon-star"></use>
              </svg>
            </li>
            <li class="testimonials-svg-item">
              <svg class="testimonials-svg">
                <use href="../img/sprite.svg#icon-star"></use>
              </svg>
            </li>
            <li class="testimonials-svg-item">
              <svg class="testimonials-svg">
                <use href="../img/sprite.svg#icon-star"></use>
              </svg>
            </li>
            <li class="testimonials-svg-item">
              <svg class="testimonials-svg">
                <use href="../img/sprite.svg#icon-star"></use>
              </svg>
            </li>
            <li class="testimonials-svg-item">
              <svg class="testimonials-svg">
                <use href="../img/sprite.svg#icon-star"></use>
              </svg>
            </li>
          </ul>
          <p class="testimonials-text">
            "The craftsmanship is exquisite, and I feel unique wearing it."
          </p>
          <p class="testimonials-author">Jane Edison</p>
        </div>
      </li>
    </ul>
  </div>
</section>
