.hero {
  padding: 160px 0 152px 0;

  background-image:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    image-set(
      url(/img/webp/photo-hero-mob1x.webp) 1x,
      url(/img/webp/photo-hero-mob2x.webp) 2x
    );
  max-width: 1440px;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-title {
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #fff;
  text-align: left;
  margin-bottom: 24px;
}

.hero-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
  text-align: left;
  margin-bottom: 32px;
}

.hero-btn {
  padding: 6px;
  max-width: 100%;
  text-align: center;
}

@media (min-width: 768px) {
  .hero {
    padding: 160px 0 435px 0;
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      image-set(
        url(/img/webp/photo-hero-tablet1x.webp) 1x,
        url(/img/webp/photo-hero-tablet2x.webp) 2x
      );
  }
  .hero-title {
    max-width: 513px;
  }

  .hero-text {
    max-width: 513px;
  }

  .hero-btn {
    max-width: 217px;
  }
}

@media (min-width: 1440px) {
  .hero {
    padding: 224px 0 360px 0;
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      image-set(
        url(/img/webp/photo-hero-desktop1x.webp) 1x,
        url(/img/webp/photo-hero-desktop2x.webp) 2x
      );
  }

  .hero-title {
    max-width: 640px;
    font-size: 56px;
  }

  .hero-text {
    max-width: 640px;
  }

  .hero-btn {
    max-width: 192px;
  }
}
